@page
@using XLJLeCommerce.Models.Interfaces
@inject IOrder OrderInjection

@{
    Layout = "_Layout";
}

@{
    var lastTenOrders = await OrderInjection.GetLastTenOrder();
}

<h2>Administrator Dashboard</h2>
<body>
    @foreach (var order in lastTenOrders)
    {
    <div>
        <p>@order.ID</p>
        @foreach (var item in order.OrderedItems)
        {
        <div>
            <p>@item.ShoppingCartItem.Product.Name</p>
            <p>@item.ShoppingCartItem.ProdQty</p>
        </div>
        }
    </div>
    }
</body>

