@page
@using XLJLeCommerce.Models.Interfaces
@inject IOrder OrderInjection

@{
    Layout = "_Layout";
}

@{
    var lastTenOrders = await OrderInjection.GetLastTenOrder();
}

<h2>Administrator Dashboard</h2>

@*don't know what I am doing on this page yet*@
