@media screen and (max-width: 960px) {
    nav {
        width: 100%;
        background-color: #8f8f8f;
        vertical-align: middle;
        text-align: center;
    }

    .topNav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 40px;
        list-style-type: none;
        margin: auto;
    }

    .logoButton {
        top: 0px;
        margin-top: 0px;
        top: 0px;
        left: 0px;
        height: 30px;
        width: 100px;
    }

    body 
    {
        background-color: beige;
        text-align: center;
    }

    h1 {
        height: 75px;
        width: 100%;
        font-size: 3em;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        margin-top: 100px;
        vertical-align: middle;
        color: black;
        font-family: 'Rock Salt', cursive;
        text-align: center;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
        font-family: 'Rock Salt', cursive;
        text-align: center;
    }

    h4 {
        font-size: 1.5em;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tiles {
        height: 350px;
        width: 350px;
        display: table-cell;
        border: 1px solid black;
        margin: 2px;
        padding: 1em;
        text-align: left;
        background-color: #b0bbaf;
        border: ridge 7px #525050;
    }

    .description {
        height: 80px;
        width: 90%;
        overflow: scroll;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        height: 55%;
        width: 55%;
    }

    .image {
        display: flex;
        justify-content: center;
    }
   

    .topper {
        height: 175px;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;
    }

    .mainNav 
    {
        list-style-type: none;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav ul li {
        width: 140px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        padding: 3px;
        padding-top: 10px;
    }

    nav ul li:hover 
    {
        width: 140px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        padding: 3px;
        padding-top: 10px;
        background-color: antiquewhite;
    }
    nav ul li a 
    {
        width: 140px;
        height: 30px;
        text-decoration: none;
    }

    #hero {
        width: 90%;
    }

    form {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    input 
    {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }
    footer 
   {
        width: 100%;
        background-color: #8f8f8f;
        vertical-align: middle;
        text-align: center;
    }

    .copywrite
    {
        height: 20px;
        width: 20px;
    }

    .bottomImg 
    {
        height: 25px;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;
    }

}
/*============================Desktop==========================================*/
@media screen and (min-width: 960px) {
    html 
    {
        background-image: url("/Assets/Backgrounds/morning-1503340_1920.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 0;
    }

    nav 
    {
        width: 100%;
        background-color: #1a1a1a;
    }

    .topNav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 40px;
        list-style-type: none;
        margin: auto;
    }

    .logoButton {
        top: 0px;
        margin-top: 0px;
        top: 0px;
        left: 0px;
        height: 30px;
        width: 100px;
    }

    .topper {
        height: 175px;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;
    }

    .mainNav {
        list-style-type: none;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        height: 100%;
        background-color: black;
        text-align: center;
        z-index: 1;
        color: white;
    }

    h1 {
        height: 75px;
        width: 100%;
        font-size: 3em;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        margin-top: 70px;
        vertical-align: middle;
        color: black;
        font-family: 'Rock Salt', cursive;
        text-align: center;
        color: white;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Rock Salt', cursive;
        text-align: center;
        color: white;
    }

    h4 {
        font-size: 1.5em;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tiles {
        height: 350px;
        width: 350px;
        display: table-cell;
        border: 1px solid black;
        margin: 2px;
        padding: 1em;
        text-align: left;
        background-color: #716d6d;
        color: black;
        border: ridge 7px #2e2b2b;
    }

    .description {
        height: 80px;
        width: 90%;
        overflow: scroll;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        height: 55%;
        width: 55%;
        justify-content: center;
    }

    .image {
        display: flex;
        justify-content: center;
    }


    header nav ul {
        width: 960px;
        list-style-type: none;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav ul li {
        width: 140px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        padding: 3px;
        padding-top: 10px;
    }

    nav ul li:hover 
    {
        width: 140px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        padding: 3px;
        padding-top: 10px;
        background-color: black;
        color: white;
    }

    form 
    {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    input 
    {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }

    .copywrite 
    {
        height: 20px;
        width: 20px;
    }

    .bottomImg 
    {
        height: 25px;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;
    }

    #hero 
    {
        width: 90%;
    }

    footer {
        width: 100%;
        background-color: #1a1a1a;
        vertical-align: middle;
        text-align: center;
    }
}
