@page
@model XLJLeCommerce.Pages.Profile.IndexModel



@{
    Layout = "_Layout";
}

<h2>Profile Page</h2>
<form method="post">
    <label asp-for="AppUser.FirstName"></label>
    <input asp-for="AppUser.FirstName" />

    <label asp-for="AppUser.LastName"></label>
    <input asp-for="AppUser.LastName" />

    <label asp-for="AppUser.Birthdate"></label>
    <input asp-for="AppUser.Birthdate" />

    <label asp-for="AppUser.Email"></label>
    <p></p> @Model.AppUser.Email</p>

    <label asp-for="AppUser.Address"></label>
    <input asp-for="AppUser.Address" />

    <button type="submit">Save</button>


</form>

<a asp-page="/Profile/PassWord"> Change Password</a>