@page
@model XLJLeCommerce.Pages.Profile.PassWordModel

@{
    Layout = "_Layout";
}

<form method="post">
    <label asp-for="Password">Enter a strong password</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="ConfirmPassword">Confirm your password</label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>

    <button type="submit">Change</button>
</form>