@model List<XLJLeCommerce.Models.ShoppingCartItem>


<div>
    <h1>You picked these items</h1>
    @foreach (var item in Model)
    {
        <h3>This is the Shopping cart View Component thing</h3>
        <p>@item.ProductID @item.ProdQty</p>
    }
</div>