@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}

<h2>Welcome to our store!</h2>

<p>insert information here about what is the purpose of our online shop, what you can exect from us, etc</p>



