

<link href="~/homepage.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Freckle+Face|Rock+Salt|Schoolbell" rel="stylesheet">
<h1>Total Unicorn</h1>
<p>Welcome to our store!</p>
<a asp-controller="Account" asp-action="Register">New Member? Register! </a>
<a asp-controller="Account" asp-action="Login">Already a member? Sign in! </a>

