@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}
<hr>
<h2>Welcome to Mystical Pets</h2>
<hr>
<img id="hero" src="~/Assets/hero.JPG" alt="scenery of woods with some of the creatures"/>
<hr>
<p>Are you looking for an exotic pet, something different than the normal pet fish, puppy, or kitten. You have found the right place.</p>

<p>We offer a variety of mystical pets from Unicorns to Trolls. We do warn you we have not trained these creatures and you are purchasing them at your own risk.</p>



