@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}

<link href="~/homepage.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Freckle+Face|Rock+Salt|Schoolbell" rel="stylesheet">
<h1>Total Unicorn</h1>
<p>Welcome to our store!</p>
<ul>
    <li>
        <a href="Account/Login">login</a>
    </li>
    <li>
        <a href="Account/Register">Register</a>
    </li>

    <li>
        <a href="Product/Index">View Products</a>
    </li>

</ul>



