@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}

<h2>Welcome to Mystical Pets</h2>

<p>Are you looking for an exotic pet, something different than the normal pet fish, puppy, or kitten. You have found the right place.</p>

<p>We offer a variety of mystical pets from Unicorns to Trolls. We do warn you we have not trained these creatures and you are purchasing them at your own risk.</p>



