@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <header>
        <h1>Total Unicorn</h1>

        <div class="nav">
            <ul>
                <li><a href="/"> Home</a></li>
                @if (signInManager.IsSignedIn(User))
                {<li> 
                <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value</span>
                </li>
                }
                else
                {
                <li>
                    <a href="/Account/Login">Login</a>
                </li>
                <li>
                    <a href="/Account/Register">register</a>
                </li>
                }
            </ul>
        </div>
    </header>




    <div>
        @RenderBody()
    </div>
</body>
</html>
