@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheets/reset.css" rel="stylesheet" />
    <link href="~/StyleSheets/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Freckle+Face|Rock+Salt|Schoolbell" rel="stylesheet">
</head>

<body>
    <nav>
        @if (signInManager.IsSignedIn(User))
        {
            <ul>
                <li><span>Welcome @User.Claims.First(c => c.Type == "FullName").Value</span></li>
                <li>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Logout" />
                    </form>
            </ul>
        }
        else
        { <nav>
                <ul>
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                </ul>
            </nav>
        }
    </nav>
    <header>
        <img class="topper" src="~/Assets/topper.jpg">

        <h1>Mystical Pets</h1>
    </header>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index"> Home</a></li>
            <li><a asp-controller="Product" asp-action="Index">View Products</a></li>
            <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
            @*add IF vip member then can see button*@
            <li><a asp-controller="Policy" asp-action="Index">Bonus Section if you're a long time member</a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
<footer><img class="copywrite" src="~/Assets/copyright-1345865_640.png" 2019 /></footer>
