@using Microsoft.AspNetCore.Identity
@using XLJLeCommerce.Models
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheets/reset.css" rel="stylesheet" />
    <link href="~/StyleSheets/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Freckle+Face|Rock+Salt|Schoolbell" rel="stylesheet">
</head>

<body>
    <nav class="topNav">
        <ul>
            <li><a asp-controller="Home" asp-action="Index"> <img class="logoButton" src="~/Assets/Logo a.JPG" /></a>
            @if (signInManager.IsSignedIn(User))
            {
                    <li><a asp-page="/Profile/Index">Welcome @User.Claims.First(c => c.Type == "FullName").Value</a></li>
                    @*<li><a asp-controller="Order" asp-action="Index">Order History</a></li>*@

                if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/Admin/Admin">Admin</a>
                    </li>
                }
                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Logout" />
                        </form>
                    </li>
            }
            else
            {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            }
        </ul>
    </nav>

    <header>
        <img class="topper" src="~/Assets/topper.jpg">
        <h1>Mystical Pets</h1>
    </header>
    <nav>
        <ul class="mainNav">
            <li><a asp-controller="Product" asp-action="Index">Products</a></li>
            <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
            <li><a asp-controller="Policy" asp-action="VIPProd">VIP</a></li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>
</body>

</html>
<hr>
<img class="bottomImg"src="~/Assets/footer.jpg" />
<hr>
<footer><img class="copywrite" src="~/Assets/copyright-1345865_640.png"/> March 2019</footer>
