@model XLJLeCommerce.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity;
@using XLJLeCommerce.Models;

@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">LOGIN</button>
</form>

@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();

    if (loginProviders.Length > 0)
    {

        <form asp-action="ExternalLogin" method="post">

            <button style="width:40px;height:40px;" type="submit" name="provider" value="@loginProviders[0].Name" title="Log in using @loginProviders[0].DisplayName">
                <img style="width:120%;height:80%" src="~/Assets/microsoft.png" alt="" />
            </button>
            <button style="width:40px;height:40px;" type="submit" name="provider" value="@loginProviders[1].Name" title="Log in using @loginProviders[1].DisplayName">
                <img style="width:120%;height:80%" src="~/Assets/fb.png" alt="" />
            </button>
        </form>
    }
}
